@font-face {
  font-family: TT Lakes Regular;
  src: url(../fonts/TTLakes-Regular.woff);
}

@media screen and (max-width: 767px) {
  .swiper-wrapper3 {
    flex-direction: row;
  }
  .third-slider {
    width: 260px;
    height: 200px;
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    font-family: TT Lakes Regular;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    border: 1px solid #eaeaea;
  }
  .services-prices-and-time {
    display: none;
  }
  .mobile {
    display: inline-block;
    width: 100%;
    color: rgba(126, 126, 130, 1);
  }
  .service {
    &__slide--btn {
      background-image: url(../images/serv-btn.svg);
      width: 119px;
      height: 32px;
      border: none;
      background-color: #fff;
      transition: opacity 0.5s ease;
      position: absolute;
      bottom: 16px;
      right: 16px;
      transition: opacity 0.5s ease;
    }
    &__slide--btn:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }
}

@media screen and (min-width: 768px) {
  .third-slider:not(.service__slide--diagnostics.swiper-slide)::after {
    content: '';
    display: block;
    height: 1px;
    background: #eaeaea;
    width: 97%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .mobile {
    display: none;
  }

  .service {
    &__slide {
      display: flex;
      min-width: 0;
      flex-direction: column;
      font-size: 14px;
    }
    &__slide--diagnostics.swiper-slide {
      border-top-left-radius: 0px;
      border-top-right-radius: 6px;
      padding: 23px 16px;
      background-color: $background-color_3;
      display: flex;
      max-height: 65px;
      justify-content: space-between;
      flex-direction: row;
      font-family: $font-family_1;
      color: rgba(27, 28, 33, 1);
      letter-spacing: -0.2px;
    }
    &__slide--dinamic.swiper-slide {
      padding: 23px 16px;
      background-color: $background-color_3;
      display: flex;
      max-height: 65px;
      flex-direction: row;
      font-family: $font-family_1;
      color: rgba(27, 28, 33, 1);
      letter-spacing: -0.2px;
      justify-content: space-between;
    }
    &__slide--display.swiper-slide {
      padding: 23px 16px;
      background-color: $background-color_3;
      display: flex;
      max-height: 65px;
      flex-direction: row;
      font-family: $font-family_1;
      color: rgba(27, 28, 33, 1);
      letter-spacing: -0.2px;
      justify-content: space-between;
    }

    &__slide--testing.swiper-slide {
      padding: 23px 16px;
      background-color: $background-color_3;
      display: flex;
      max-height: 65px;
      flex-direction: row;
      font-family: $font-family_1;
      color: rgba(27, 28, 33, 1);
      letter-spacing: -0.2px;
      justify-content: space-between;
    }

    &__slide--PO.swiper-slide {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 6px;
      padding: 23px 16px;
      background-color: $background-color_3;
      display: flex;
      max-height: 65px;
      flex-direction: row;
      font-family: $font-family_1;
      color: rgba(27, 28, 33, 1);
      letter-spacing: -0.2px;
      justify-content: space-between;
    }
    &__slide--price {
      width: 71px;
    }
    &__slide--serv {
      width: 330px;
    }
    &__slide--time {
      width: 111px;
    }
    &__slide--btn {
      background-image: url(../images/serv-btn.svg);
      width: 119px;
      height: 32px;
      border: none;
      background-color: #fff;
      transition: opacity 0.5s ease;
    }
    &__slide--btn:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1120px) {
  .mobile {
    display: none;
  }
  .services-prices-and-time {
    width: 750px;
    display: flex;
  }

  .swiper-slide.third-slider {
    align-items: center;
  }
  .services-prices-and-time {
    width: 750px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    gap: 6.5%;
    margin-top: 16px;
    color: rgba(126, 126, 130, 1);
    font-size: 14px;
    font-family: TT Lakes Regular;
    &__time {
      padding-left: 16px;
    }
    &__services {
      width: 330px;
      padding-left: 16px;
    }
  }
}
@media screen and (min-width: 1120px) {
  .mobile {
    display: none;
  }
  .services-prices-and-time {
    width: 1022px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    gap: 13.5%;
    margin-top: 16px;
    color: rgba(126, 126, 130, 1);
    font-size: 14px;
    font-family: TT Lakes Regular;
    &__time {
      padding-left: 16px;
    }
    &__services {
      width: 330px;
      padding-left: 16px;
    }
  }
  .swiper-slide.third-slider {
    align-items: center;
  }
}
